* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgba(103, 103, 103, 0.3);
}

h1 {
    color: #333;
    padding: 2rem;
}

#products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid gold;
    width: 250px;
    text-align: left;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-card h2 {
    font-size: 18px;
    color: #222;
}

.product-card p {
    font-size: 14px;
    color: #555;
}